* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/lab.png); /*https://www.freepik.com/free-vector/cartoon-empty-laboratory-room_13248592.htm#query=laboratory%20background&position=1&from_view=keyword&track=ais_user&uuid=64d42f0e-24bb-414b-b5cb-2fe59809e77d*/
    background-repeat: no-repeat;   
    background-size: cover;
    background-position: top;
    overflow: hidden;
}

.container {
    position: absolute;
    top: 0%;
    height: 100%;
    align-items: center;
    padding-right: 0px;
    left: 89%;
}

/* knoppen rechts onder elkaar krijgen */
.knop {
    display: flex;
    flex-direction: column;
    gap: 17vh;
    background-color: rgb(183, 140, 240);
    padding-right: 5.3vh;
    padding-bottom: 3vh;
}

#robbie {
    position: absolute;
    left: 75vh;
    top: 25vh;
}

#stroomPercentage {
    color: orangered;
    margin-top: 25px;
}

#schroefPercentage {
    color: rgb(24, 188, 24);
    margin-top: 25px;
}

#oliePercentage {
    color: rgb(0, 174, 255);
}

.percentage {
    margin-top: 35vh;
    background-color: white;
    margin-right: 175vh;
    font-size: 3em;
    border: 5px color red;
    position: absolute;
}

#warning {
    color: red;
    position: absolute;
    left: 20%;
    top: 10%;
    font-size: 8vh;
    font: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: none;
}

.hideElement {
    visibility: hidden;
}

#gameOver {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.459);
    position: fixed;
    background-position: top;
    display: none;
}

#gameOverTekst {
    color: red;
    position: absolute;
    font-size: 10vh;
    font: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    opacity: 100%;
    display: none;
    left: 35vw;
    top: 35vh;
}

#speelOpnieuw {
    display: none;
    left: 88vh;
    top: 50vh;
    position: absolute;
}
